$bg-color: #ffffff;
$font-color: #292929;
$botton1-color: #0e6cff;
$botton2-color: #ff8700;
$botton3-color: #4caf50;
$hero-color: #ca9bff;

nav {
  background-color: $bg-color;
}

#headline {
  background-color: $hero-color;
}
